.update-game-modal {
    .modal-footer {
        display: flex;
        justify-content: flex-end;

        button {
            min-width: 7rem;

            &.cancel-button {
                margin: 0;
                margin-right: auto;
            }
        }
    }
}